.footer {
	&__btn {
		@include size(45px);
		@include radius(26px);
		margin: 10px calc(50% - 26px);
		padding: 10px 5px 0px;
	}
	&__text {
		text-align: center;
		padding: 10px;
	}
	&__text:nth-child(1) {
		grid-area: address;
	}
	&__text:nth-child(2) {
		grid-area: phones;
	}
	&__ul {
		@include flex(row);
		grid-area: media;
	}
	&__li {
		@include flex(row);
		@include size(30px);
		@include radius(26px);
		padding: 7px;
	}
	&__container {
		display: grid;
		grid-template-areas:
	  	'address'
	  	'phones'
	  	'media';
	  	grid-gap: 20px;
	}
	&__end {
		margin: 10px 10px 0px;
		text-align: center;
	}
}
@include mq(landscape) {
	.footer {
		&__btn {
			display: none;
		}
		&__container {
			grid-template-areas:
		  	'address phones media';
		}
		&__text {
			width: calc(100vw/3 - 40px);	
			line-height: 45px;
		}
		&__ul {
			width: calc(100vw/3 - 40px);
		}
	}
}
@include mq(tablet) {
	.footer {
		&__ul {
			@include flex(column);
			width: calc(100vw/3 - 40px);
		}
		&__li {
			border: none;
		}
		&__text {
			width: calc(100vw/3 - 40px);	
			line-height: 55px;
		}
		&__container {
			grid-template-areas:
		  	'address phones media';
		}
		&__btn {
			display: none;
		}
		.fa {
			&-facebook::after {
				padding: 8px;
				content: 'Facebook';
			}
			&-twitter::after {
				padding: 8px;
				content: 'Twitter';
			}
			&-google::after {
				padding: 8px;
				content: 'Google';
			}
		}
	}
}