.footer {
	padding: 10px;
	&__btn {
		@include size(45px);
		@include radius(26px);
		margin: 10px calc(50% - 26px);
		padding: 10px 5px 0px;
	}
	&__text {
		text-align: center;
		padding: 10px;
		&:nth-child(1) {
			grid-area: address;
		}
		&:nth-child(2) {
			grid-area: phones;
		}
	}
	&__ul {
		@include flex(column);
		grid-area: media;
		margin-right: 20px;
		&-li {
			@include flex(row);
			@include size(30px);
			@include sideRaduis(center, 26px);
			background-color: #444;
			padding: 7px;
		}
	}
	&__other {
		display: none;
		grid-area: other;
	}
	&__container {
		display: grid;
		grid-template-areas:
	  	'address media'
	  	'phones media';
	}
	&::after {
		display: block;
		content: 'Copyright © 2013 Aquasto';
		color: #fff;
		padding-top: 20px;
		padding-left: calc(50vw - 90px);
	}
}
@include mq(landscape) {
	.footer {
		&__btn {
			display: none;
		}
		&__container {
			grid-template-areas:
		  	'address phones media';
		}
		&__text {
			width: calc(100vw/3 - 40px);	
			line-height: 45px;
		}
		&__ul {
			@include flex(column);
			width: calc(100vw/3 - 40px);
			&-li {
				border: none;	
			.fa {
				&-facebook::after {
					padding: 8px;
					content: 'Facebook';
				}
				&-twitter::after {
					padding: 8px;
					content: 'Twitter';
				}
				&-google::after {
					padding: 8px;
					content: 'Google';
				}
			}
			}
		}
	}
}
@include mq(tablet) {
	.footer {
		&__btn {
			display: none;
		}
	}
}
@include mq(laptop) {
	.footer {
		&__btn {
			display: none;
		}
		&__container {
			grid-template-areas:
		  	'address media'
		  	'phones other';
		  	grid-gap: 0px;
		}
		&__text {
			width: calc(100vw/3 - 40px);	
			line-height: 35px;
			&::first-line {
				line-height: 55px;
			}
		}
		&__ul {
			@include flex(column);
			width: calc(100vw/3 - 40px);
			&-li {
				border: none;
				background-color: $transparent;
			}
		}
		&__other {
			@include mq(column);
			display: block;
			&-img {
				width: calc(40vw);
			}
		}
		.fa {
			&-facebook::after {
				padding: 8px;
				content: 'Facebook';
			}
			&-twitter::after {
				padding: 8px;
				content: 'Twitter';
			}
			&-google::after {
				padding: 8px;
				content: 'Google';
			}
		}
	}
}