$c-d: #6783F4;
$c-m: #A1B2F6;
$c-l: #CFD8FD;

$transperant: rgba(0,0,0, 0);
$sh-d: rgba(0, 0, 0, 0.2);
$sh-l: rgba(0, 0, 0, 0.19);
$c-t-m: rgba(161,178,246,0.95);
$c-t: rgba(187, 187, 255,0.95);
$c-t-l: rgba(204, 213, 252, 0.8);