.links {
	background-color: $c-l;
}
.header {
	background-color: darken($c-m, 5%);
}
.search__input {
	background-color: lighten($c-l, 4% );
}
.search__btn {
	background-color: $transparent;
}
.content__box {
	background-color: $c-l;
}
.links__X {
	background-color: rgba(255,255,255, 0.8);
}
.content__head {
	background-color: rgba(255,255,255,0.2);
}
.content__text {
	background-color: rgba(255,255,255,0.2);
}
.box {
	background-color: $c-l;
}
.box__text {
	background-color: rgba(255,255,255,0.15);
}
.main, body {
	background-color: $c-m;
}
.footer {
	background-color: #333;
}
.footer__btn {
	background-color: #333;
}
.fixedDiv{
	background-color: $c-t-m;
	&__search-input {
		background-color: lighten($c-l, 4% );
	}
	[type = "submit"] {
		background-color: $transparent;
	}
}
@include mq(tablet) {
	.box {
		background-color: rgba(0,0,0,0);
	}
	.box__text {
		background-color: rgba(0,0,0,0);
	}
} 