.links {
	position: fixed;
	height: 0;
	left: calc(5vw);
	top: calc(28vw + 80px);
	width: calc(90vw);
	border-radius: 10px;
	&__X {
		@include size(15px);
		position: fixed;
		display: none;
		top: calc(28vw + 100px);
		right: calc(9vw);
		padding: 8px;
		text-align: center;
		border-radius: 20px;
	}
	&__li {
		text-align: center;
		line-height: calc( (100vh - 21vw - 125px)/6);
		display: none;
	}
	&__a  {
		padding-bottom: calc((100vh - 21vw - 125px)/12 - 11px);
  		text-decoration: underline;
		z-index: 101;
	}
}
@include mq(landscape) {
	.links {
		right: calc(5vw);
		top: 80px;
		&__X {
			top: 95px;
		}
		&__li {
			float: left;
			width: 50%;
			margin: 0;
			line-height: calc((95vw - 180px)/6);
		}
		&__a  {
			padding-bottom: calc((100vw - 150px)/12 - 11.5px);
		}
	}
}
@include mq(tablet) {
	.links {
		all:unset;
		@include flex(row);
		&__li {
			all:unset;
 			transition: 0.2s ease-in-out;
			margin: 10px 0px;
			padding: 10px 5px;
			width: calc(100%/6 - 24px);
			border-radius: 5px;
			text-align: center;
		}
		&__a {
			all:unset;
			font-size: 18px;
 			transition: 0.2s ease-in-out;
  			text-decoration: underline;
  			font-weight: 900;
			line-height: 25px;
		}
	}
}
