*{
	margin: 0;
	padding: 0;
}
::selection {
	background-color: complement(#A1B2F6);
}
.phone__cover {
	z-index: 48;
}
.logo, .search__input, .search__btn {
	z-index: 101;
}
.links,
.links__X {
	z-index: 49;
}
.phone__cover { 
	position: fixed;
	left: 0;
	width: calc(100vw);
	height: 0px;
	background-color: #111;
	opacity: 0.7;
}
.container{
	min-height: 100%;
}
body,
html {
	height: 100%;
}
.header {
	width: 100%;
	@include shadow(mid);
}
.main {
	width: 90%;
	padding: 15px 5% 5px;
}
ul,
li {
	text-decoration: none;
	list-style-type: none;
}
button,
input {
	border: none;
	outline: none; 	
}
a {
	text-decoration: none;
	color: #111;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
a:hover,
a:focus,
li:hover,
li:focus,
button:hover,
button:focus,
input:hover,
input:focus {
	cursor: pointer;
}
:focus,
:hover {
	outline: 0px;
}
@include mq(tablet) {
	.phone__cover {
		display: none;
		visibility: hidden;
	}
	.footer {
		padding-top: 40px;
	}
	.logo, .search__input {
		z-index: 0;
	}
	.links,
	.search__input {
		z-index: 0;
	}
}