*{
	margin: 0;
	padding: 0;
}
::selection {
	background-color: complement(#A1B2F6);
}
.phone__cover {
	z-index: 48;
}
.links__btn,
.search__input {
	position: relative;
	z-index: 49;
}
.links,
.links__triangle,
.links__X {
	z-index: 49;
}
.links__X {
	z-index: 50;
}
.footer {
	z-index: -3;
}
.phone__cover { 
	position: fixed;
	left: 0;
	width: calc(100vw);
	height: 0px;
	background-color: #111;
	opacity: 0.7;
}
.container{
	min-height: 100%;
}
body,
html {
	height: 100%;
}
.header {
	width: 100%;
	@include shadow(mid);
}
.main {
	width: 90%;
	margin-bottom: 366px;
	padding: 15px 5% 5px;
}
.footer {
	width: calc(100vw);
	padding-top: 40px;
	position: fixed;
	left: 0;
	bottom: 0;
}
ul,
li {
	text-decoration: none;
	list-style-type: none;
}
button,
input {
	border: none;
	outline: none;
}
a {
	text-decoration: none;
	color: #111;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
a:hover,
a:focus,
li:hover,
li:focus,
button:hover,
button:focus,
input:hover,
input:focus {
	cursor: pointer;
}
:focus,
:hover {
	outline: 0px;
}
@include mq(landscape) {
	.main {
		margin-bottom: 0;
	}
	.footer {
		position: relative;
		z-index: 0;
	}
}
@include mq(tablet) {
	.header {
		position: static;
	}
	.main {
		margin-bottom: 463px;
	}
	.phone__cover {
		display: none;
		visibility: hidden;
	}
	.links,
	.search__input,
	.links__btn {
		position: static;
		z-index: 0;
	}
}