.links__li{
	font-weight: bold;
	font-size: calc(20px + (100vw - 320px)/10);
}
.links__X {
	font-family: arial;
}
.search__input {
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-size: 18px;
}
.search__input::placeholder {
	font-size: 18px;
	margin-top: 2px;
}
.content__head{
	font-size: 27px;
}
.box__text{
	font-size: 16.5px;
}
.first-line{
	font-size: 25px;
}
.footer {
	&__btn {
		font-size: 30px;
	}
	&__li {
		font-size: 20px;
	}
	&__text {
		font-size: 20px;
	}
	&__text::first-line {
		font-size: 25px;
	}
}
.second-line{
	font-size: 20px;
}
@include mq(landscape) {
	.links__li{
		font-size: calc(20px + (100vh - 320px)/10);
	}
}
@include mq(tablet) {
	.footer {
		&__li {
			font-size: 25px;
		}
		&__text {
			font-size: 25px;
		}
		&__text::first-line {
			font-size: 30px;
		}
	}
	.links {
		font-family: arial;
	}
	.fixedDiv__ul{
		font-family: arial;
	}
	.links__li{
		font-size: 12px;
	}
	.end-laptop {
		font-size: 10px;
	}
	.col__head {
		font-size: 40px;
	}
	.col__li {
		font-size: 25px;
	}
}
@include mq(laptop) {
	.links__a {
		font-size: 14px;
		font-weight: 100;
	}
	.content__head {
		font-size: 30px;
	}
	.content__text {
		font-size: 23px;
	}
	.box__head {
		font-size: 30px;
	}
	.box__text {
		font-size: 25px;
	}
	.col__li {
		font-size: 33px;
	}
	.fixedDiv__search-input::placeholder {
		font-size: 17px;
	}
}