.links__li,
.first-line,
.second-line {
	color: #111;
}
.links__X {
	color: $c-l;
}
.footer__text::first-line {
	font-weight: 900;
}
.footer *{
	color: white;
}
.content__head,
.first-line {
	font-weight: 600;
}
@include mq(tablet) {
	.links__li {
		color: #444;
	}
}
@include mq(laptop) {
	.fixedDiv__li {
		color: black;
	}
}